.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    // background-color: white;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    /* Set the background color */
    border-radius: 8px;
    /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    max-width: 300px;
    /* Set a maximum width */
    margin: 0 auto;
    /* Center the modal horizontally */
    // padding: 20px;
    /* Add some padding */


    ul {
        // text-decoration: none;
        list-style: none;
        padding: 0;
        margin: 0;
        padding: 20px;

        li {
            margin-bottom: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            /* Align checkbox and label vertically */
        }

        
    }

    .cancel{
        background-color: transparent;
        color: black ;
        margin: 0;
        border: none;
        border-top: 1px solid black;
        width: 100%;
        padding: 6% 0;
        border-radius: 0;
      }


}

.modal-container input[type="radio"] {
    margin-right: 8px; /* Add some space between checkbox and label */
  }
  
  /* Hover effect for list items */
  .modal-container li:hover {
    background-color: #f0f0f0;
  }

