.container{
    display: flex;
    padding: 2% 0;
    background: #380ec4;
    color: white;
    font-weight: bold;
    
    P{
        width: 50%;
        // text-align: center;
        margin-left: 5%;
    }
}